body {
  background-color: black;
  color: #d6d6d6;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
ul {
  display: flex;
  justify-content: center;
  padding: 3px;
}

li {
  font-size: larger;
  list-style-type: none;
  margin: 0 10px;
}

a {
  color: aquamarine;
}

form {
  border: 2px solid white;
  padding: 10%;
}

form label {
  border-radius: 10px;
  background-color: aquamarine;
  padding: 1%;
  color: black;
  font-size: 30px;
  margin: 2px 10px;
}

form input {
  border: none;
  background: none;
  color: white;
  font-size: 30px;
  margin: 10px 10px;
  border-bottom: 2px solid white;
}

form button {
  border-radius: 10px;
  background-color: aquamarine;
  padding: 2%;
  color: black;
  font-size: 30px;
  margin: 0;
}

.App {
  text-align: center;
}

.ColorList p {
  margin: 50px 0;
}

.color {
  padding: 10%;
  color: rgb(0, 0, 0);
  font-size: 3em;
}

.color a {
  color: white;
}
